@import "../lib/bootstrap/scss/functions";
@import "../lib/bootstrap/scss/_variables.scss";


// Var utility
$custom-shadow: 2px 2px 5px rgba(100, 100, 100, 0.3);


a {
    text-decoration: none !important;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1:focus {
    outline: none;
    box-shadow: none;
}


// Togliere le freccette da InputNumber
/* Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



// qui importo i miei partials
@import "partials/_mixins.scss";
@import "partials/_themes.scss";
@import "partials/_breakpoints.scss";
@import "partials/_loading.scss";
@import "partials/_modal.scss";
@import "partials/_waitingPage.scss";
@import "partials/_checkRadio.scss";
@import "partials/_checkBox.scss";
@import "partials/_scrollbar.scss";
@import "partials/_fonts.scss";
@import "partials/_mainLayout.scss";
@import "partials/_progressCard.scss";
@import "partials/_assistente.scss";
@import "partials/_form.scss";
@import "partials/_tooltip.scss";
@import "partials/_dashboardMessage.scss";
@import "partials/_recap.scss";
@import "partials/_filter.scss";
// Classe con tutti gli elementi da aggiornare con i temi
@import "partials/_allElements.scss";

    @import "../lib/bootstrap/scss/mixins";
    @import "../lib/bootstrap/scss/bootstrap";

