@page "/"
@* @page "/dashboard" *@
@inherits MainClassBase

<div class="container-fluid">
    <DashboardMessage />

    <Filtro ListaObiettivi="@Obiettivi" OnListaFiltrata="AggiornaListaFiltrata" />

    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 gap-2 gap-md-0">
        @if (ObiettiviFiltrati is not null)
        {
            @foreach (var obiettivo in ObiettiviFiltrati)
            {
                <ProgressCard Obiettivo="@obiettivo" />
            }
        }
    </div>
</div>


@* Stringa da usare per codice html nel localizer *@
<div>@((MarkupString)Localizer[ResourceLanguage.Aggiornamento].Value)</div>

