@page "/"
@* @page "/dashboard" *@
@inherits MainClassBase

<div class="container-fluid">   

    <DashboardMessage />

    @if (User.Name == "Admin_jack")
    {
        <button type="button" class="btn btn-danger" @onclick="ClearAllFromAdmin">Cancella tutto</button>
    }

    <Filtro ListaObiettivi="@Obiettivi" OnListaFiltrata="AggiornaListaFiltrata" />
  
        @if (ObiettiviFiltrati is not null) {<ProgressCard Obiettivi="@ObiettiviFiltrati" />}
</div>


