@page "/waiting"
@inject IJSRuntime JS

<div class="waiting-container">
    <span class="loader"></span>
    <span>@Localizer[ResourceLanguage.VerificaAggiornamenti]</span>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Invoca la logica JS che manda il messaggio SKIP_WAITING
            // e, al cambio di controller, ricarica la radice "/"
            await JS.InvokeVoidAsync("skipAndReload");
        }
    }
}
