@using Feel.Components.Obiettivo
<div @onclick="Action">

    @if(AssistantChoice is ModalType.AggiungiObiettivo)
    {
        <CascadingValue Value="ModalId" Name="ModalId">
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalType="AssistantChoice">
        <AddObiettivo @ref="_addObiettivo"/>
        </Modal>
        </CascadingValue>
}
</div>


