<div @onclick="Action">

@if(AssistantChoice is ModalType.AggiungiObiettivo)
{   
<Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalId="@ModalId" ModalType="AssistantChoice">
<AddObiettivo @ref="_addObiettivo"/>
</Modal>
}
</div>


