<div @onclick="Action">

    @if(AssistantChoice is ModalType.AggiungiObiettivo)
    {
        @if(!EndOperations)
        {           
        <Modal ActionClass="@ActionClass" CssClass="@CssClass" ActionText="@ActionText" ModalId="@ModalId" ModalType="AssistantChoice">
        <AddObiettivo @ref="_addObiettivo" EndOperationsToggle="EndOperations"/>
        </Modal>
        }
}
</div>


