@if(ToolTip is not null) {
    <ToolTip Text="@ToolTip">
    <span class="text-@Color" @onclick="Action"><i class="@Element"></i></span>
    </ToolTip>
}
else {
<span class="text-@Color" @onclick="Action"><i class="@Element"></i></span>
}

@code {
    
    [Parameter, EditorRequired] public string? Element { get; set; }
    [Parameter] public string Color { get; set; } = "primary";
    [Parameter] public EventCallback Action { get; set; }
    [Parameter] public MarkupString? ToolTip { get; set; }
}
