<div class="@($"custom-offcanvasdetails-backdrop {IsOpenClass}")" @onclick="Close">
    <div class="@($"custom-offcanvasdetails bg-{MainTheme}-offcanvas-bg {IsOpenClass}")" @onclick:stopPropagation>
        @ChildContent
    </div>
</div>

