@if(ObiettivoSelezionato is not null)
{     
    var isOpenClass = IsOpen ? "show" : string.Empty;
    <div class="@($"custom-offcanvasdetails-backdrop {isOpenClass}")" @onclick="Close">
            <div class="@($"custom-offcanvasdetails bg-{MainTheme}-primary {isOpenClass}")">
        </div>
    </div>
    
}