<div class="@($"custom-offcanvasdetails-backdrop {IsOpenClass}")" @onclick="Close">
            <div class="@($"custom-offcanvasdetails bg-{MainTheme}-primary {IsOpenClass}")">
                @ChildContent
        </div>
    </div>
    
