<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".mp4" />
			<remove fileExtension=".webp" />
			<remove fileExtension=".png" />
			<remove fileExtension=".webmanifest" />
			<mimeMap fileExtension=".mp4" mimeType="video/mp4" />
			<mimeMap fileExtension=".webp" mimeType="image/webp" />
			<mimeMap fileExtension=".png" mimeType="image/png" />
			<mimeMap fileExtension=".webmanifest" mimeType="application/json" />
		</staticContent>
	</system.webServer>
</configuration>
