@inherits LayoutComponentBase

@if (MainTheme is not null)
{
    <CascadingValue Value="MainTheme" Name="MainTheme">
        <CascadingValue Value="Assistente" Name="Assistente">
        <Assistente />
        <main class="@($"bg-{MainTheme}-sfondo")">
            <div class="main-gradient" />
            <div class="main-content">
                <section class="main-section">
                    @Body
                </section>
            </div>
        </main>
        </CascadingValue>
    </CascadingValue>
}