@using Feel.Components.Assistant
@inherits LayoutComponentBase

@if (MainTheme is not null)
{
    <CascadingValue Value="MainTheme" Name="MainTheme">
        <CascadingValue Value="Assistente" Name="Assistente">
            <CascadingValue Value="User" Name="User">
            <div id="modal-container"></div>
            <main class="@($"bg-{MainTheme}-feel-main-bg")">
                <div class="main-gradient" />
                <div class="main-content">
                    <section class="main-section">
                        @Body
                        <Assistente />
                    </section>
                </div>
            </main>            
        </CascadingValue>
        </CascadingValue>
    </CascadingValue>
}
