<div class="@($"navmenu bg-{MainTheme}-navmenu-sfondo")">
    @if(NavMenuItems is not null)
    {
        @foreach (var element in NavMenuItems)
        {
        <Icon Element="@element.Icon" Pointer="true" Color="@element.Color"/>
        }
    }
</div>
