$temi-feel: (
  autunno: (
    ultra-light: $autunno-feel-ultra-light,
    primary:     $autunno-feel-primary,
    secondary:   $autunno-feel-secondary,
    light:       $autunno-feel-light,
    gray:        $autunno-feel-gray
  ),
  inverno: (
    ultra-light: $inverno-feel-ultra-light,
    primary:     $inverno-feel-primary,
    secondary:   $inverno-feel-secondary,
    light:       $inverno-feel-light,
    gray:        $inverno-feel-gray
  ),
  primavera: (
    ultra-light: $primavera-feel-ultra-light,
    primary:     $primavera-feel-primary,
    secondary:   $primavera-feel-secondary,
    light:       $primavera-feel-light,
    gray:        $primavera-feel-gray
  ),
  estate: (
    ultra-light: $estate-feel-ultra-light,
    primary:     $estate-feel-primary,
    secondary:   $estate-feel-secondary,
    light:       $estate-feel-light,
    gray:        $estate-feel-gray
  )
);


@each $stagione, $valori in $temi-feel {
    $ultra-light: map-get($valori, ultra-light);
    $primary: map-get($valori, primary);
    $secondary: map-get($valori, secondary);
    $light: map-get($valori, light);
    $gray: map-get($valori, gray);

    .assistente.#{$stagione} {
        @include assistente($ultra-light, $primary, $secondary);
    }

    .cm-checkbox.#{$stagione} {
        @include checkbox-style($light, $primary);
    }

    .cm-toggle.#{$stagione} {
        @include radio($light);
    }

    .dash-message.#{$stagione} {
        @include dashboard-message($secondary);
    }

    .filterbox.#{$stagione} {
        @include filtri($secondary, $ultra-light);
    }

    .progress-bar-section.#{$stagione} {
        @include progress-card($light, $primary, $gray);
    }

    .recap.#{$stagione} {
        @include recap($light);
    }

    .description.#{$stagione} {
        @include recap-descrizione($light);
    }

    .modal-footer.#{$stagione} {
        @include footer($light);
    }

    .tooltip-container.#{$stagione} {
        @include tooltip($light, $primary);
    }
}




/*// ASSISTENTE //

.assistente {
    &.autunno {
        @include assistente($autunno-feel-ultra-light, $autunno-feel-primary, $autunno-feel-secondary);
    }
}

// FORM //

// Checkbox
.cm-checkbox {
    &.autunno {
        @include checkbox-style($autunno-feel-light, $autunno-feel-primary);
    }
}

// Checkradio

.cm-toggle {
    &.autunno {
        @include radio($autunno-feel-light);
    }
}

// DASHBOARD //

// Messaggio iniziale

.dash-message {
    &.autunno {
        @include dashboard-message($autunno-feel-secondary);
    }
}

// Filter

.filterbox {
    &.autunno {
        @include filtri($autunno-feel-secondary, $autunno-feel-ultra-light);
    }
}

// Progress card

.progress-bar-section {
    &.autunno {
        @include progress-card($autunno-feel-light, $autunno-feel-primary, $autunno-feel-gray)
    }
}

// Progress bar RECAP

.recap {
    &.autunno {
        @include recap($autunno-feel-light)
    }
}

// Progress DESCRIPTION

.description {
    &.autunno {
        @include recap-descrizione($autunno-feel-light)
    }
}


// MODALI //

// Footer

.modal-footer {
    &.autunno {
        @include footer($autunno-feel-light)
    }
}

// TOOLTIP //

.tooltip-container {
    &.autunno {
        @include tooltip($autunno-feel-light, $autunno-feel-primary);
    }
}*/