// Breakpoints custom
$mobile: "max-width: 576px";
$tablet: "max-width: 991px";
$from-tablet: "min-width: 577px";
$laptop: "max-width: 1199px";
$desktop: "min-width: 1200px";

//Breakpoints BS
$bs-sm: "min-width: 576px";
$bs-md: "min-width: 768px";
$bs-lg: "min-width: 992px";
$bs-xl: "min-width: 1200px";
$bs-xxl: "min-width: 1400px";
