@mixin theme-settings($border, $label-text, $label-bg, $input-text, $text-disabled) {
    position: relative;
    width: 100%;

    & label {
        position: absolute;
        color: $label-text;
        background-color: $label-bg;
        padding: 0 0.6rem;
        left: 1.2rem;
        top: 0;
        transform: translateY(-50%);
        font-size: 0.8rem;
        box-shadow: 0 0 5px 2px rgba($label-bg, 0.5);

        & span {
            margin-left: 0.2rem;
        }
    }

    & input {
        width: 100%;
        padding: 0.8rem 1.5em 0.5rem;
        font-size: 0.9rem;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: transparent;
        color: $input-text;

        &::-webkit-calendar-picker-indicator {
            filter: invert(1);
        }

        &::placeholder {
            color: $text-disabled;
        }


        &:focus {
            outline: none;
            border: 2px solid $border;
            box-shadow: 0 0 5px 2px rgba($border, 0.5);
        }
    }

    & select {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        padding: 0.8rem 1.5em 0.5rem;
        font-size: 0.9rem;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: transparent;
        color: $input-text;

        &::placeholder {
            color: $input-text;
            opacity: 0.7;
        }


        &:focus {
            outline: none;
            border: 2px solid $border;
            box-shadow: 0 0 5px 2px rgba($border, 0.5);
        }

        & option {
            color: $label-text;
            background-color: $label-bg;
        }
    }
}

@mixin radio-form($label-text) {
    display: flex;
    flex-direction: column;

    & label {
        color: $label-text;
        font-size: 0.8rem;

        & span {
            margin-left: 0.2rem;
        }
    }
}

@mixin check-form($label-text) {
    display: flex;
    flex-direction: column;

    & label {
        color: $label-text;
        font-size: 0.8rem;

        & span {
            margin-left: 0.2rem;
        }
    }
}

.form-display {
    gap: 2rem;
    margin-top: 1.5rem !important;

    @include media-query($bs-md) {
        gap: 0;
        margin-top: 1rem !important;
        margin-inline: 1rem !important;

        & div {
            margin-bottom: 1rem !important;
        }
    }

    & .form-group {
        &.autunno {
            @include theme-settings($autunno-feel-light, $autunno-feel-light, $autunno-feel-primary, $autunno-feel-ultra-light, $autunno-text-disabled);
        }

        &.inverno {
            @include theme-settings($inverno-feel-light, $inverno-feel-light, $inverno-feel-primary, $inverno-feel-ultra-light, $inverno-text-disabled);
        }

        &.primavera {
            @include theme-settings($primavera-feel-light, $primavera-feel-light, $primavera-feel-primary, $primavera-feel-ultra-light, $primavera-text-disabled);
        }

        &.estate {
            @include theme-settings($estate-feel-light, $estate-feel-light, $estate-feel-primary, $estate-feel-ultra-light, $estate-text-disabled);
        }
    }

    & .form-group-radio {
        &.autunno {
            @include radio-form($autunno-feel-light);
        }

        &.inverno {
            @include radio-form($inverno-feel-light);
        }

        &.primavera {
            @include radio-form($primavera-feel-light);
        }

        &.estate {
            @include radio-form($estate-feel-light);
        }
    }

    & .form-group-check {
        &.autunno {
            @include check-form($autunno-feel-light);
        }

        &.inverno {
            @include check-form($inverno-feel-light);
        }

        &.primavera {
            @include check-form($primavera-feel-light);
        }

        &.estate {
            @include check-form($estate-feel-light);
        }
    }
}

//VALIDAZIONE

@mixin error-message($error) {
    color: $error;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-style: italic;

    &::before {
        content: "⚠️ ";
        margin-right: 0.2rem;
    }
}



