// z-index più alto: 20 per offcanvas

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    overflow: auto;

    & .main-gradient {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 11;
        background-image: linear-gradient(to top, black, transparent), url("/css/images/bg.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: soft-light;
        pointer-events: none;
    }

    & .main-section {
        position: relative;
        z-index: 12;
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin-bottom: 17rem;

        @include media-query($from-tablet) {
            margin-bottom: 20rem;
        }
    }
}
