// MEDIA QUERY

@mixin media-query($media) {
    @media only screen and ($media) {
        @content
    }
}

// APPARIZIONI

@mixin appear($time) {
    animation: appear $time ease-in-out forwards;

    @keyframes appear {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

@mixin top-appear($time) {
    animation: top-appear $time ease-in-out forwards;

    @keyframes top-appear {
        from {
            opacity: 0;
            transform: translateY(-50%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@mixin appear-translate($time) {
    animation: appear-translate $time ease-in-out forwards;

    @keyframes appear-translate {
        from {
            opacity: 0;
            transform: translateY(-100%);
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@mixin appear-and-resize($time) {
    animation: appear-and-resize $time ease-in-out forwards;

    @keyframes appear-and-resize {
        from {
            opacity: 0;
            transform: scale(1.1);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}

// MESSAGGI ASSISTENTE

@mixin messaggio-text($ultra-light, $primary, $secondary) {

    &.message-box {
        background-color: $secondary !important;

        & .message-text {
            font-size: 0.8rem;
            color: $ultra-light;
        }

        &:active {
            background-color: $primary !important;
        }
    }
}

@mixin assistente-messaggio($translateY, $translateX, $rotate, $scale: 1) {
    position: fixed;
    z-index: 15;
    bottom: 0;
    left: 0;
    transform: translateY($translateY) translateX($translateX) rotate($rotate) scale($scale);
    padding: 1rem 1.5rem;
    border-radius: 50px;
    box-shadow: $custom-shadow;
    transition: transform 300ms ease-out;
    display: none;
    opacity: 0;



    &:active {
        transform: translateY($translateY) translateX($translateX) rotate($rotate) scale(1.1);
    }

    &.show {
        display: block;
        @include appear(300ms);
    }
}