@mixin setup() {    
    & .descrizione {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & img {
            max-width: 100px;
        }
    }

    & .form-control {
        border: 1px dashed gray;
        box-shadow: $custom-shadow;
        padding: 0.8rem 1.5rem;
        border-radius: 10px;
        font-style: italic;

        &:focus {
            border: 1px solid rgba(0, 0, 0, 0);
            box-shadow: 0 0 10px 5px rgb(0, 255, 33, 0.8);
        }
    }

    & .buttons-box {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: end;

        & button {
            width: 120px;
            padding-block: 0.5rem;
            border-radius: 25px;
            border: 1px solid gray;

            &.next {
                box-shadow: $custom-shadow;
                background-color: lawngreen;
                border: 1px solid white;
                color: white;
            }
        }
    }

    & .assistente-box {
        display: flex;
        justify-content: end;
        align-items: end;

        & img {
            max-width: 100%;
            transform: translateX(20%) scale(1.2);
        }
    }

    .tema-box {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;

        & .smartphone {
            width: 70px;
            height: 100%;
            border: 2px solid black !important;
            box-shadow: $custom-shadow;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: start;
            overflow: hidden;
            padding: 0.5rem;

            & .modalexample {
                width: 100%;
                height: 70%;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                padding: 0.4rem;

                & .text-primo {
                    width: 100%;
                    height: 10px;
                }

                & .text-secondo {
                    width: 70%;
                    height: 10px;
                }

                & .example-buttons {
                    width: 100%;
                    margin-top: auto;
                    display: flex;
                    justify-content: space-between;

                    & .ok,
                    .indietro {
                        width: 30%;
                        height: 10px;
                    }
                }
            }

            &.selected {
                border: 6px solid greenyellow !important;
            }
        }
    }

    & .tema-nome {
        font-size: 0.8rem;

        &.selected {
            font-size: 0.8rem;
            color: limegreen;
        }
    }


    & .setup-recap {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        & .section {
            border: 1px solid $secondary;
            padding: 1rem;
            box-shadow: $custom-shadow;
            background-color: rgba(255, 255, 255, 0.5);

            & img {
                max-height: 150px;
            }
        }
    }
}

.setup-page {
    width: 100vw;
    height: 100vh;
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background: linear-gradient(135deg, #f0ffd6 0%, #ffffff 100%);
    @include appear-and-resize(3s);
    @include setup();
}

.options {
    @include setup();
}