@mixin tooltip($light, $primary) {
    position: relative;
    display: inline-block;
    cursor: pointer;
    box-shadow: $custom-shadow;

    & .tooltip-text {
        visibility: hidden;
        width: max-content;
        max-width: 200px;
        background-color: $light;
        color: $primary;
        text-align: left;
        padding: 10px 8px;
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 0.7rem;
    }

    &:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }
}





